.navbar-nav > li {
  padding-left: 40px;
  padding-right: 40px;
}
.navbar-light .navbar-nav .nav-link {
  color: black;
}
#item1 {
  padding-top: 0;
}
.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
  margin-left: 20px;
  min-width: 60px;
  max-width: 300px;
}
.item3 {
  grid-area: main;
  max-width: 900px;
  margin-left: 20px;
  margin-right: 20px;
}
.item4 {
  grid-area: footer;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu main main main main'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
  padding: 10px 0;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
}
#navbarDropdownMenuLink {
  background-color: transparent;
  border: 0;
  background: transparent;
  color: #0c3c7c;
}
.bg-light1 {
  background: #f8f9fa;
}
.bg-company-white {
  background-color: white;
}
.dropdown:hover > .dropdown-menu {
  margin-top: 0px;
  display: block;
}
.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.dropdown-item.active,
.dropdown-item:active {
  background: #018d8d;
}
#btnoutline {
  outline: 0;
}

#menu1 {
  border: 1px solid #0c3c7c;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 3%;
  margin-top: 30px;
}
#btnoutline {
  margin-left: 20%;
}
.iconColor {
  color: #0c3c7c;
}
.menuulstyle {
  list-style-type: none;
  font-size: 1em;
  color: #0c3c7c;
  padding-left: 5px;
}
@media (min-width: 481px) and (max-width: 767px) {
  .item2 {
    margin-left: 2px;
  }
  #btnoutline {
    margin-left: 15%;
  }
  .item3 {
    margin-left: 4px;
    margin-right: 4px;
  }
}
@media (min-width: 200px) and (max-width: 480px) {
  .item2 {
    margin-left: 60px;
  }
  .grid-container {
    padding: 2px 0;
    grid-template-areas:
      'header header header header header header'
      'main main main main main main'
      'menu menu menu menu menu menu'
      'footer footer footer footer footer footer';
    grid-gap: 2px;
  }
  .grid-container > div {
    padding: 2px 0;
  }
  #btnoutline {
    margin-left: 5%;
  }
  .item3 {
    margin-left: 1px;
    margin-right: 1px;
    min-width: 200px;
  }
  .item1 {
    min-width: 200px;
  }
}
