.navbar-nav > li {
  margin-left: 42px;
  margin-right: 42px;
}
#navbarDropdownMenuLink {
  background-color: transparent;
  border: 0;
  background: transparent;
}
.bg-company-white {
  background-color: white;
}
.dropdown:hover > .dropdown-menu {
  margin-top: 0px;
  display: block;
}
.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
#btnoutline {
  outline: 0;
}
